---
title: "Authors"
layout: default
permalink: "/authors-list.html"
---

<div class="container">
<h4 class="font-weight-bold spanborder"><span>Leadership</span></h4>
<div class="row gap-y listrecent listrecent listauthor">
    {% assign leaders = site.authors | sort: "position" %}
    {% for author in leaders %}
        {% if author.leadership %}
        <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded shadow">
            <div class="row">
            {% if author.avatar %}
                <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ author.name }}" src="{{site.baseurl}}/{{ author.avatar }}" class="rounded-circle" height="80" width="80"></div>
            {% else %}
                <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ author.name }}" src="{{site.baseurl}}/assets/images/default_avatar.png" class="rounded-circle" height="80" width="80"></div>
            {% endif %}
            <div class="col-md-9">
            <a href="{{ author.url }}">
            <h4 class="text-dark mb-0"> {{ author.name }} </h4>
            <p class="text-dark mb-0">{{author.position}}<p>
            <i class="text-dark mb-0" style="font-size:80%">{{author.location}}</i>
            <div class="excerpt">{{ author.bio }}</div>
            <h4 class="color-teal">&#8594</h4>
            </a>
            </div>
            </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
<h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
    <div class="row gap-y listrecent listrecent listauthor">
    {% for author in site.authors %}
        {% if author.leadership %}
        {% else %}
        <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded shadow">
            <div class="row">
            {% if author.avatar %}
                <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ author.name }}" src="{{site.baseurl}}/{{ author.avatar }}" class="rounded-circle" height="80" width="80"></div>
            {% else %}
                <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ author.name }}" src="{{site.baseurl}}/assets/images/default_avatar.png" class="rounded-circle" height="80" width="80"></div>
            {% endif %}
            <div class="col-md-9">
            <a href="{{ author.url }}">
            <h4 class="text-dark mb-0"> {{ author.name }} </h4>
            <p class="text-dark mb-0">{{author.position}}<p>
            <i class="text-dark mb-0" style="font-size:80%">{{author.location}}</i>
            <div class="excerpt">{{ author.bio }}</div>
            <h4 class="color-teal">&#8594</h4>
            </a>
            </div>
            </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>