---
title: "Categories"
layout: default
permalink: "/categories.html"
---

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <h1 class="font-weight-bold title h6 text-uppercase mb-4">Categories</h1>

        {% for category in site.categories%}

        {% endfor %}

        <ul id="profileTabs" class="nav nav-tabs">
          <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
          <li><a href="#about" data-toggle="tab">About</a></li>
          <li><a href="#match" data-toggle="tab">Match</a></li>
      </ul>
        <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="profile">
          <h2>Profile</h2>
      <p>Praesent sit amet fermentum leo....</p>
      </div>
      
      <div role="tabpanel" class="tab-pane" id="about">
          <h2>About</h2>
          <p>Lorem ipsum ...</p></div>
      
      <div role="tabpanel" class="tab-pane" id="match">
          <h2>Match</h2>
          <p>Vel vehicula ....</p>
      </div>
      </div>
      



            

        </div>
        
            <div class="col-md-4">
        {% include sidebar-featured.html %}    
    </div>
        
    </div>
</div>


